* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: #f3f4f7;
}

.wrapper {
    width: 90%;
    max-width: 1100px;
    height: 650px;
    margin: 5vh auto;
    display: flex;
    border-radius: 25px;
    overflow: hidden;
    background: white;
    box-shadow: 0px 8px 25px rgba(44, 41, 244, 0.15);
}

/* LEFT BLUE PANEL */
.left-panel {
    width: 40%;
    background: linear-gradient(135deg, #ffb0b0, #3870c4);
    padding: 50px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

/* Small profile card */
.small-card {
    background: rgba(255,255,255,0.15);
    padding: 15px;
    border-radius: 18px;
    display: flex;
    gap: 15px;
    backdrop-filter: blur(5px);
    transition: 0.3s ease;
}

.small-card:hover {
    transform: translateY(-5px);
    background: rgba(255, 154, 154, 0.174);
}

.small-card img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/* RIGHT FORM PANEL */
.form-panel {
    width: 60%;
    padding: 50px 70px;
    background: #ffffff;
}

.form-panel h2 {
    margin-bottom: 30px;
}

/* Inputs */
form input {
    width: 100%;
    padding: 13px 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid #cfd3d8;
    outline: none;
    transition: 0.25s;
    font-size: 15px;
}

/* Input Focus Animation */
form input:focus {
    border-color: #af1f1f;
    box-shadow: 0 0 8px rgba(240, 5, 5, 0.807);
    transform: scale(1.01);
}

/* Two inputs side-by-side */
.two-field {
    display: flex;
    gap: 15px;
}

button {
    width: 100%;
    padding: 14px;
    background: #ffa4a4;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover {
    background: #c93535;
    transform: translateY(-3px);
    box-shadow: 0px 10px 20px rgba(255, 0, 0, 0.3);
}
